
@{
    ViewBag.Title = "Dresses";
    Html.RenderPartial("Index");
}
<div class="mainCol">
    <h4>Category: @ViewBag.CategoryName</h4>
    <div class="images">
        <div>
            <img src="https://mosaic01.ztat.net/vgs/media/catalog1/NL/02/1C/0D/9A/11/NL021C0D9-A11@15.jpg"/>
        </div>
        <div>
            <img src="https://mosaic01.ztat.net/vgs/media/catalog1/NL/02/1C/0D/9A/11/NL021C0D9-A11@15.jpg" />
        </div>
        <div>
            <img src="https://mosaic01.ztat.net/vgs/media/catalog1/NL/02/1C/0D/9A/11/NL021C0D9-A11@15.jpg" />
        </div>
        <div>
            <img src="https://mosaic01.ztat.net/vgs/media/catalog1/NL/02/1C/0D/9A/11/NL021C0D9-A11@15.jpg" />
        </div>
        <div>
            <img src="https://mosaic01.ztat.net/vgs/media/catalog1/NL/02/1C/0D/9A/11/NL021C0D9-A11@15.jpg" />
        </div>
        <div>
            <img src="https://mosaic01.ztat.net/vgs/media/catalog1/NL/02/1C/0D/9A/11/NL021C0D9-A11@15.jpg" />
        </div>
        <div>
            <img src="https://mosaic01.ztat.net/vgs/media/catalog1/NL/02/1C/0D/9A/11/NL021C0D9-A11@15.jpg" />
        </div>
    </div>
</div>